CREATE TABLE IF NOT EXISTS citizens (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    aadhaar_hash TEXT UNIQUE NOT NULL,
    aadhaar_masked TEXT NOT NULL,
    phone_number TEXT NOT NULL,
    name TEXT,
    address TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    last_login TIMESTAMPTZ
);
ALTER TABLE users ADD COLUMN IF NOT EXISTS aadhaar_hash TEXT UNIQUE;
ALTER TABLE users ADD COLUMN IF NOT EXISTS is_aadhaar_verified BOOLEAN DEFAULT FALSE;

